@font-face {
    font-family: 'Urbanist';
    src: url('/asset/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf') format('woff2'),
         url('/asset/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('woff');
    /* Ajoutez d'autres formats si nécessaire, comme TTF ou OTF */
}

@font-face {
    font-family: 'DM Sans';
    src: url('/asset/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('woff2'),
         url('/asset/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('woff');
    /* Ajoutez d'autres formats si nécessaire, comme TTF ou OTF */
}



body {
    background-color: #ECF0F3;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    margin-left: 0px;
    padding: 0;
}

.navbar1 {
    display: grid;
    grid-template-columns: 289px  838px  317px ;
    background-color: #ffffff; 
    padding: 10px 20px; 
    position: relative; 
    margin-left: 0px;
    padding: 0;


}

.logo {
    position: absolute; 
    top: 0; 

    z-index: 10; 
}

.logo img {
    display: block; 
    width: auto; 
    height: 140px; 
}

.navbar2 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%; 

    height: 70px;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    column-gap:40px;
}

nav a {
    text-align: center;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28.8px; /* 180% */

    text-decoration: none;
    color: #333; 
    padding: 0 10px; 
    color: var(--TEXTE, #273653);

}

.inscription-container { 
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.inscription {
    background-color: #fbf8f8;
    color: #3f2db0; 
    padding: 15px 30px; 
    border-radius: 10px; 
    border: 2px solid rgb(87, 87, 229);

}


/* Body P1 */


#logofond {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 392px 1fr 392px;
}



#boxtestpresentation {
    display: grid;
    grid-template-columns: 169px 1fr 169px;
}


#textpresentation {
    color: var(--TEXTE, #273653);
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-bottom: 110px;
    margin-top: 57px;
    width: 1102px;
}

.boxicon {
    position: absolute;
    top: -70px;
    display: grid;
    grid-template-columns: 120px 1fr 121px;
}

#boxwhiteicon {
    position: relative;
    display: grid;
    grid-template-columns: 169px 341px 43px 341px 36px 341px 169px;
}


.boxwhite {
    display: flex;
    width: 341px;
    height: 251px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F7F8;
}

.boxwhite h5 {
    color: #111A2E;
    text-align: center;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
}

.boxwhite p {
    color: #6F737B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 180% */
}

#buttonvideo {
    display: grid;
    grid-template-columns: 1fr 341px 1fr;
    grid-template-rows: 42px 49px 10px;
}

#buttonvideo button {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 49px;
    border-radius: 15px;
    background: #FFF;
    color: #111A2E;
    text-align: center;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    column-gap: 15px;
}


/* Body P2 */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
   
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1103px 1fr;
    background: #ECF0F3;

    
}


.imagetext {
    width: 420px; /* Utilisation de la largeur complète de la colonne */
    height: auto; /* Maintien du ratio d'aspect */
    border-radius: 41px;
    background: var(--d-9-d-9-d-9, #1466A6);
    position: relative;
    z-index: 99;
    

}

p {
    color: var(--TEXTE, #273653);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 100%; /* Utilisation de la largeur complète de la colonne */
}
.spacing{ width: 40%;

}
.ligne{
    height: 454px;
    grid-template-columns: 1fr 166px 1fr;
    display: grid;

}

.inner-content{
    display: block;
}
.col3 .col4 .col7 {
    width: 479px;
    color: #273653;
    font-family: Urbanist;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.6px; /* 110% */
    letter-spacing: -2.3px;
}

.col2{
 width: 166px;
}

.col6, .col5, .col1 {
    position: relative;

}

.donation-button {
border-radius: 8px;
background: var(--Button, #571C7B);
bottom: -0.2px;
width: 205px;
height: 53px;

}
button{color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 180% */

}
.rect1{width: 394px;
    height: 398px;
    border-radius: 41px;
    background: var(--d-9-d-9-d-9, #1466A6);
    position: absolute; top: 52px; right: 3%;
    z-index: 1;
    
}
.rect2{width: 394px;
    height: 398px;
    border-radius: 41px;
    background: var(--d-9-d-9-d-9, rgba(39, 54, 83, 1));
    position: absolute; top: 60px; left: -8%;
}
.rect3{width: 394px;
    height: 398px;
    border-radius: 41px;
    background: var(--d-9-d-9-d-9, #1466A6);
    position: absolute; top: 50px; right: 3%;

}
.ligne4 { 
    display: grid;
    grid-template-columns: 1fr 205px 1fr;
    grid-template-rows: 71px 53px 71px;
    position: relative;
    top:202px;
}

#l2 {
    position: relative;
    top: 126px;
}

#l3 {
    position: relative;
    top: 147px;
}